
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.container{
max-width: 1024px;
margin: 0 auto;
padding: 5px 30px;
}
.error-message{
    color: red;
    margin: 0;
}
.logout{
    cursor:  pointer;
}
.success-message{
    color: green;
}
.container input{
    padding: 7px;
    margin: 5px 0px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgb(175, 175, 175);
}
.container label{
    display: block;
    font-weight: 700;
}
.container-fluid{
    width: 100%;
}
.container button{
    background-color: rgb(11, 85, 150);
    color: #fff;
    padding: 10px;
    border: 0px;
    font-size: 17px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 7px;
}
.header{
    padding: 10px 40px;
    width: 100%;
    background-color: aliceblue;
}
.header a{
    color: #000;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s;
    text-decoration: none;
}
.header a:hover,.container a{
    color: rgb(11, 85, 150);
}
.login-contand{
    width: 50%;
    margin: 20px auto;
    border: 1px solid rgb(175, 175, 175);
    padding: 30px;
    border-radius: 20px;
}
.login-contand button{
    margin: 10px auto;
    width: 100%;
    font-weight: 800;
}
ol.list-group li:nth-of-type(even) {
    background: rgb(11, 85, 150,.1);
  }
  li{
    list-style-type: none;
    padding: 2px 5px;
    text-align: center;
  }
.container table{
    border: 1px solid rgb(175, 175, 175);
}
@media screen and (max-width: 700px) {
    .login-contand {
      width: auto;
    }
}
